<div class="container-fluid">
    <h2>Tema 5 - Transmisión analógica</h2>
    <h3>5.1 Conversión de Digital a Analógico</h3>
    Es el proceso de cambiar una de las características de una señal de base analógica en información basada en una
    señal digital.
    <br>
    Una onda seno se define por tres características (amplitud, frecuencia y fase).
    Modificando cualquiera de estas características, se crea una segunda versión de esta onda y que nos puede servir
    para representar datos digitales.
    <h4>5.1.1 Aspectos de la conversión de digital a analógico</h4>
    <b>Elementos de datos frente a elementos de señal</b>
    <ul>
        <li>Tasa de datos y tasa de señal</li>
        <li>Ancho de banda</li>
        <li>Señal portadora:
            También llamada frecuencia portadora, es una señal de alta frecuencia que produce el emisor y que actúa como
            base para la señal de información.
            La información digital se modula sobre la señal portadora modificando alguna de sus características.
        </li>
    </ul>
    <h4>5.1 Modulación por desplazamiento de amplitud (Amplitude Shift Keying o ASK)</h4>
    <div>Se modifica la amplitud de la señal portadora, para crear elementos de señal.</div>
    <b>ASK Binario</b>
    <div>
        Se define como la modulación binaria en amplitud o modulación on-off (OOK, onoff keying).
        <br>
        La amplitud pico de un nivel de señal es 0, el otro es el mismo que la amplitud de
        la señal portadora.

    </div>
</div>