<div class="container-fluid">
    <h2>Tema 1 - Introducción</h2>
    <h3>1.1 Transmisión de datos</h3>
    <div>Transmisión de datos es el intercambio de datos entre dos dispositivos a través de algún medio de transmisión.
    </div>
    <ol>
        <li>Entrega</li>
        <li>Exactitud</li>
        <li>Puntualidad</li>
        <li>Jitter</li>
    </ol>
    <h4>1.1.1 Componentes</h4>
    <ol>
        <li>Mensaje</li>
        <li>Emisor</li>
        <li>Receptor</li>
        <li>Medio</li>
        <li>Protocolo</li>
    </ol>
    <h4>1.1.2 Representación de datos</h4>
    <ol>
        <li>Texto</li>
        <li>Números</li>
        <li>Imágenes</li>
        <li>Audio</li>
        <li>Vídeo</li>
    </ol>
    <h4>1.1.3 Flujo de datos</h4>
    <ol>
        <li>Simplex</li>
        <li>Semidúplex</li>
        <li>Dúplex / Full-Duplex</li>
    </ol>
    <h3>1.2 Redes</h3>
    <div>Una red es la interconexión de un conjunto de dispositivos capaces de comunicarse</div>
    <h4>1.2.1 Criterios de redes</h4>
    <ol>
        <li>Rendimiento: Se mide mediante tasa de transferencia efectiva o la latencia</li>
        <li>Fiabilidad: Exactitud de entrega y frecuencia de fallo</li>
        <li>Seguridad: Protección de datos frente a fallos y accesos no autorizados</li>
    </ol>
    <h4>1.2.2 Estructuras físicas</h4>
    <div>Atributos de una red</div>
    <ul>
        <li>
            Tipo de conexión
            <ol>
                <li>Punto a punto: Enlace dedicado entre dos dispositivos</li>
                <li>Multipunto: Varios dispositivos comparten enlace</li>
            </ol>
        </li>
        <li>
            Topología física: Forma en la que está diseñada la red físicamente
            <ol>
                <li>
                    Topología en Malla: Cada dispositivo tiene un enlace punto a punto y dedicado con cualquier otro dispositivo
                    <ul>
                        <li>
                            Ventajas
                            <ul>
                                <li>Los enlaces dedicados transportan solo los datos propios</li>
                                <li>Es robusta, si un enlace falla no inhabilita el sistema</li>
                                <li>Privacidad / seguridad</li>
                                <li>Los enlaces punto a punto facilitan identificar los fallos</li>
                            </ul>
                        </li>
                        <li>
                            Desventajas
                            <ul>
                                <li>Debido a cantidad de cable, díficil instalación y reconfiguración</li>
                                <li>La masa de cables puede ser mayor que el espacio disponible</li>
                                <li>Puede ser prohibitivamente caro</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    Topología en Estrella: cada dispositivo solamente tiene un enlacec punto a punto con el controlador central (llamado concentrador o hub), los dispositivos no están directamente enlazados entre sí
                    <ul>
                        <li>
                            Ventajas
                            <ul>
                                <li>Fácil de instalar y configurar</li>
                                <li>Menos Cable</li>
                                <li>Robustez, la desconexión de un cable solo afecta a un dispositivo</li>
                                <li>Fácil de identificar los fallos</li>
                            </ul>
                        </li>
                        <li>
                            Desventajas
                            <ul>
                                <li>Dependencia de todo el sistema del concentrador</li>
                                <li>Requiere mucho cale (no tanto como la de malla)</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    Topología de Bus: Es multipunto al contrario que las anteriores. Un cable largo actúa como una red troncal que conecta todos los dispositivos en la red 
                    <br>
                    Los nodos se conectan al bus mediantes cables de conexión o latiguillos
                    <ul>
                        <li>
                            Ventajas
                            <ul>
                                <li>Sencillez de instalación</li>
                                <li>El cable troncal puede extenderse por el camino más eficiente</li>
                                <li>Menos cable requerido que las anteriores</li>
                            </ul>
                        </li>
                        <li>
                            Desventajas
                            <ul>
                                <li>Difícil reconexión y aislamiento de fallos</li>
                                <li>Difícil añadir nuevos dispositivos</li>
                                <li>Un fallo en el bus interrumpe todas las transmisiones</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    Topología en Anillo: Cada dispositivo tiene una línea de conexión dedicada y punto a punto solamente con dos dispositivos que están a sus lados.
                    <br>
                    La señal pasa a lo largo del anillo en una direciión, o de dispositivo a dispositivo hasta que alcanza su destino
                    <ul>
                        <li>
                            Ventajas
                            <ul>
                                <li>Relativamente fácil de instalar y reconfigurar</li>
                                <li>Fácil de aislar los fallos</li>
                                <li>Menos cable requerido que las anteriores</li>
                            </ul>
                        </li>
                        <li>
                            Desventajas
                            <ul>
                                <li>Una rotura del anillo puede inhabilitar toda la red</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ol>
        </li>
    </ul>
    <h3>1.3 Tipos de Redes</h3>
    <h4>1.3.1 Red de área local (LAN)</h4>
    <div>
        Una red de área local suele ser una red de propiedad privada. Cada host tiene un idedntificador, que lo define de manera única. Las redes lan utilizan un conmutador 
        que reconoce la dirección de destino del paquete y lo guía
    </div>
    <h4>1.3.2 Red de área amplia (WAN)</h4>
    <div>
        Es también una interconexión de dispositivos capaces de comunicación, sin embargo se diferencia de la lan en que la wan tien unn alcance geográfico mucho más amplio
    </div>
    <ul>
        <li>Wan punto a punto</li>
        <li>Wan conmutada: Las más usadas actualmente</li>
        <li>Inerred o internet: Dos o más redes conectadas entre sí</li>
    </ul>
    <h4>1.3.4 Acceso a internet</h4>
    <ul>
        <li>
            Redes telefónicas: usado por residencias y pequeñas empresas
            <ul>
                <li>Servicio de marcación: Módem en la línea telefónica, no permite comunicación telefónica y uso de internet simultáneamente</li>
                <li>DSL: Mayor velocidad de internet y permite uso simultáneo de tlf e internet</li>
            </ul>
        </li>
        <li>Cables de red: Mayor velocidad pero depende del número de usuarios que utilicen el mismo cable</li>
        <li>Redes inalámbricas</li>
        <li>Conexión directa a internet: Una gran organización puede convertirse en un proveedor ed servicios de internet local si arrienda una wan de alta velocidad 
            y se conecta a un ISP regional
        </li>
    </ul>
</div>